/* src\pages\Cadastro\styles.css */

.pagina-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 32px;
    background: radial-gradient(
    
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 180, 41) 100%
  );
  }