/* src\components\ListaDeUsuarios\styles.css */

.cardapio{
  display:flex;
  justify-content:center;
  align-items:center;
}
.lista-usuarios li {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .lista-usuarios li strong {
    font-weight: bold;
  }