/* src\pages\Welcome\styles.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url('../../assets/images/background.avif') no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
}

.welcome-container {
  border: 3px solid #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(255, 254, 254, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  min-height: 320px;
  text-align: center;
  background: transparent;
  width: 80%;
  max-width: 600px;
}

/* Logo */
.welcome-container .imagem {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

/* Títulos */
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #c5c5c5;
}

/* Botões */
.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.buttons button {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ffb236;
  border: none;
  border-radius: 6px;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fff;
  color: #ffb236;
}

/* MEDIA QUERIES RESPONSIVAS */

@media (max-width: 900px) {
  body {
    padding: 20px;
  }

  .welcome-container {
    padding: 40px;
    width: 85%;
  }

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.1rem;
  }

  .buttons {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 15px;
  }

  .welcome-container {
    padding: 30px;
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .buttons {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  body {
    padding: 10px;
  }

  .welcome-container {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    padding: 10px 15px;
    font-size: 0.85rem;
  }
}
