/* src\pages\Welcome\styles.css */

html,
body {
  height: auto;
  margin: 0;
  /* padding: 0; -> Será definido nas media queries para afastamento */
  font-family: Arial, sans-serif;

  background: url('../../assets/images/background.avif') no-repeat center center fixed;
 background-size: cover;

  /* ADICIONADO PARA CENTRALIZAR O CONTEÚDO DA PÁGINA */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Garante que o body ocupe a altura total da viewport */
  box-sizing: border-box; /* Garante que o padding afaste o conteúdo interno */
}
.imagem {
  display: flex;
  top: 20px;
  width: 50%;
  position: absolute;
}
.welcome-container {
  border: 3px solid #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(255, 254, 254, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 0 auto;
  padding: 50px;
  height: 320px;
  text-align: center;
  background: transparent;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #c5c5c5;
}

.buttons {
  margin-top: 150px;
  gap: 20px;
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ffb236;
  border: none;
  border-radius: 6px;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fff;
  color: #ffb236;
}

/* MEDIA QUERIES */

/* Media query para telas maiores que 900px (desktop) */
@media (min-width: 901px) {
  body {
    padding: 30px; /* AFASTAR DAS MARGENS EM TELAS GRANDES */
  }
}


@media (max-width: 900px) {
  body {
    padding: 20px; /* AFASTAR DAS MARGENS EM TABLETS */
  }

  .welcome-container {
    padding: 50px;
    height: auto;
    width: 75%;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    padding: 12px 24px;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  body {
    padding: 15px; /* AFASTAR DAS MARGENS EM CELULARES */
  }

  .welcome-container {
    padding: 50px;
    height: auto;
    width: 75%;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    padding: 12px 24px;
    font-size: 1rem;
  }
}


@media (max-width: 375px) {
  body {
    padding: 20px 0; /* AFASTAR DAS MARGENS EM CELULARES MUITO PEQUENOS */
  }

  .welcome-container {
    padding: 20px;
    height: auto;
    display:flex;
    margin:0 20px 0 20px;
    justify-content:center;
    width:75%;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}