/* src\components\FormularioCadastro\styles.css */

.container {
    
    padding: 40px 20px;
    border-radius: 12px;
    background:rgba(30, 30, 30, 0.9);
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
  
.container img {
  max-width: 100%;      /* Garante que não ultrapasse a largura do container */
  height: auto;         /* Mantém a proporção */
  display: block;       /* Evita espaços extras abaixo da imagem */
  margin: 0 auto;       /* Centraliza */
  object-fit: contain;
}
  
h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffb236;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
  
input,
button {
    width: 70%;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}
  
input {
    border: 1px solid #ccc;
}
  

  
.link-usuarios {
    margin-top: 25px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 14px;
}
  
.link-usuarios:hover {
    text-decoration: none;
}
