/* src\components\ListaDeUsuarios\styles.css */

  

.imagem-cardapio {
  border:1px solid #fff;
  border-radius:20px;
  
}

.lista-usuarios li {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
  }
  
  .lista-usuarios li strong {
    font-weight: bold;
  }

  